<div class="full-navbar">
  <div class="top-banner">
    <img src="//ae01.alicdn.com/kf/HTB10VXXXZTxK1Rjy0Fg761ovpXaS.png">
  </div>
  <div class="nav">
    <div class="nav-container">
        <img class="nav-brand" src="https://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png">
      <div class="nav-list">
        <div class="nav-element">
          Home
        </div>
        <div class="nav-element">
          News
        </div>
        <div class="nav-element">
          Contact
        </div>
      </div>
      <div class="nav-search-box">
          <i class="search-ico fas fa-search"></i>
          <input class="search" type="text" placeholder="search" name="search">
      </div>
      <div class="head-right">
        <div class="cart">
          <i class=" cart-icon fas fa-2x fa-shopping-cart"></i>
          <button type="button" class="cart-btn">2 items</button>
        </div>
        <div class="user-box">
          <i class="user-ico fa-2x fas fa-user-alt"></i>
          <a href="#" class="sign-in-link">sign in</a>
          <a href="#" class="sign-in-link">sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
