<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1>Привет {{currentUser.firstName}}!</h1>
        <h3>Все бренды:</h3>
        <ul>
          <li *ngFor="let brand of brands">
            {{brand.name}} - {{brand.description}} <br>
            <button (click)="deleteBrand(brand.id)" class="btn btn-danger">Удалить</button> <button [routerLink]="['/brand-edit/' + brand.id]" class="btn btn-success">Изменить</button>
            <br>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
