<div class="jumbotron">
  <div class="container">
        <h1>Привет {{currentUser.firstName}}!</h1>
        <h3>Все бренды:</h3>
        <table class="table-style-two" border="1" sortable-table (sorted)="onSorted($event)">
          <thead>
            <tr>
              <th sortable-column="name" sort-direction="Name">Имя бренда</th>
              <th>Описание</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let brand of brands">
              <td >{{brand.name}}</td>
              <td >{{brand.description}}</td>
              <td><button (click)="deleteBrand(brand.id)" class="btn btn-danger">Удалить</button></td>
              <td><button [routerLink]="['/brand-edit/' + brand.id]" class="btn btn-success">Изменить</button></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
