 <div class="container">
    <h3>Все бренды:</h3>
    <table class="table-style-two" border="1" sortable-table>
      <thead>
      <tr>
        <th sort-direction="Name" (click)="sort()">Имя бренда</th>
        <th>Описание</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let brand of brands">
        <td >{{brand.name}}</td>
        <td >{{brand.description}}</td>
        <td><button (click)="deleteBrand(brand.id)" class="btn btn-danger">Удалить</button></td>
        <td><button [routerLink]="['/brand-edit/' + brand.id]" class="btn btn-success">Изменить</button></td>
      </tr>
      </tbody>
    </table>
    <br>
   <button [routerLink]="['/brand-create']" class="btn btn-active">Новый бренд</button>
   <br>
    <a class="button15" *ngIf="page > 1" (click)="previousPage()">Предыдущая</a>
    <a class="button15" (click)="nextPage()" *ngIf="nextIsActive">Следующая</a>
  </div>
