<div class="home-block">
  <div class="container">
    <div class="categories-box">
      <div class="categories">
        <h2 class="category-title">Categories</h2>
        <ul class="category-list">
          <li><a href="#">Phones & Accessories</a></li>
          <li><a href="#">Computer & Office</a></li>
          <li><a href="#">Consumer Electronics</a></li>
          <li><a href="#">Jewelry & Accessories</a></li>
          <li><a href="#">Home & Garden</a></li>
          <li><a href="#">Shoes</a></li>
          <li><a href="#">Mother & Kids</a></li>
          <li><a href="#">Sports & Entertainment</a></li>
          <li><a href="#">Beauty & Health</a></li>
          <li><a href="#">Automobiles & Motorcycles</a></li>
          <li><a href="#">Home Improvement</a></li>
        </ul>
      </div>
    </div>
    <div class="best-products-box">
      <div class="best-products">
        <h2>Best products</h2>
        <div class="best-products-list">
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1MprMwsyYBuNkSnfoq6AWgVXah.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1MprMwsyYBuNkSnfoq6AWgVXah.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1MprMwsyYBuNkSnfoq6AWgVXah.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1MprMwsyYBuNkSnfoq6AWgVXah.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1MprMwsyYBuNkSnfoq6AWgVXah.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1MprMwsyYBuNkSnfoq6AWgVXah.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1MprMwsyYBuNkSnfoq6AWgVXah.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1MprMwsyYBuNkSnfoq6AWgVXah.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="all-products-box">
      <div class="concrete-products-box">
        <h2 class="product-title">Recommended</h2>
        <div class="product-list">
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1vk7PXUvrK1RjSszfq6xJNVXa0.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1vk7PXUvrK1RjSszfq6xJNVXa0.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1vk7PXUvrK1RjSszfq6xJNVXa0.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1vk7PXUvrK1RjSszfq6xJNVXa0.jpg_350x350.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
        </div>
      </div>
      <div class="concrete-products-box">
        <h2 class="product-title">Not Recommended</h2>
        <div class="product-list">
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1kNpMX_tYBeNjy1Xdq6xXyVXad/Anime-Cosplay-Striped-Stockings-For-Women-Girls-Over-Knee-High-Fashion-Lovely-Elastic-Warm-Long-Stockings.jpg_220x220.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1kNpMX_tYBeNjy1Xdq6xXyVXad/Anime-Cosplay-Striped-Stockings-For-Women-Girls-Over-Knee-High-Fashion-Lovely-Elastic-Warm-Long-Stockings.jpg_220x220.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1kNpMX_tYBeNjy1Xdq6xXyVXad/Anime-Cosplay-Striped-Stockings-For-Women-Girls-Over-Knee-High-Fashion-Lovely-Elastic-Warm-Long-Stockings.jpg_220x220.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
          <div class="product-box">
            <div class="product-content">
              <img class="product-image" src="//ae01.alicdn.com/kf/HTB1kNpMX_tYBeNjy1Xdq6xXyVXad/Anime-Cosplay-Striped-Stockings-For-Women-Girls-Over-Knee-High-Fashion-Lovely-Elastic-Warm-Long-Stockings.jpg_220x220.jpg">
              <span class="product-price">429,12 $</span>
              <span class="product-old-price">500,23 $</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
