<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1>Привет {{currentUser.firstName}}!</h1>
        <p>Приветствуем вас в магазине EShop!!</p>
        <h3>Все зарегистрированные пользователи:</h3>
        <ul>
          <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)" class="text-danger">Удалить</a>
          </li>
        </ul>
        <p><a [routerLink]="['/login']">Выйти</a></p>
      </div>
    </div>
  </div>
</div>
