<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h2>Изменение товара</h2>
      <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" formControlName="id" [(ngModel)]="product.id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" disabled />
          <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
            <div *ngIf="f.id.errors.required">Идентификатор обязателен</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Название</label>
          <input type="text" formControlName="name" [(ngModel)]="product.name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Название обязательно</div>
          </div>
        </div>
        <div class="form-group">
          <label for="brandId">Бренд:</label>
          <select class="form-control" formControlName="brandId" [ngClass]="{ 'is-invalid': submitted && f.brandId.errors }">
              <option [ngValue]="brand.id" *ngFor="let brand of brands">
                {{ brand.name }}
              </option>
          </select>
          <div *ngIf="submitted && f.brandId.errors" class="invalid-feedback">
            <div *ngIf="f.brandId.errors.required">Бренд обязателен</div>
          </div>
        </div>
        <div class="form-group">
          <label for="categoryId">Категория:</label>
          <select class="form-control" formControlName="categoryId" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
              <option [ngValue]="category.id" *ngFor="let category of categories">
                {{ category.name }}
              </option>
          </select>
          <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
            <div *ngIf="f.categoryId.errors.required">Категория обязательна</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Описание</label>
          <input type="text" formControlName="description" [(ngModel)]="product.description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Описание обязательно</div>
          </div>
        </div>
        <div class="form-group">
          <label for="price">Цена</label>
          <input type="text" formControlName="price" [(ngModel)]="product.price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
          <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
            <div *ngIf="f.price.errors.required">Цена обязательна</div>
          </div>
        </div>
        <div class="form-group">
          <label for="imageUrl">Ссылка на изображение</label>
          <input type="text" formControlName="imageUrl" [(ngModel)]="product.imageUrl" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.imageUrl.errors }" />
          <div *ngIf="submitted && f.imageUrl.errors" class="invalid-feedback">
            <div *ngIf="f.imageUrl.errors.required">Ссылка на изображение обязательна</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-success">Изменить</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/product-list']" class="btn btn-link">Отмена</a>
        </div>
      </form>
    </div>
  </div>
</div>
