<div class="jumbotron">
  <div class="container">
    <h1>Привет {{currentUser.firstName}}!</h1>
    <h3>Все категории:</h3>
      <table class="table-style-two" border="1" sortable-table (sorted)="onSorted($event)">
        <thead>
          <tr>
            <th sortable-column="name" sort-direction="Name">Имя категории</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{category.name}}</td>
            <td><button (click)="deleteCategory(category.id)" class="btn btn-danger">Удалить</button></td>
            <td><button [routerLink]="['/category-edit/' + category.id]" class="btn btn-success">Изменить</button></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
